<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="mentor.ListenerAll">
</listener></listeners>
  <test thread-count="5" name="Test">
    
      <classes>
    <class name="mentor.Resubmission">
			  <methods>
                 <include name="move"/>
                 <include name="clickall"/>
                 <include name="sub"/>
                 <include name="visit"/>
                 <include name="locate"/>
                 <include name="proficiency"/>
               </methods>
		 </class>
    </classes>
  </test> <!-- Test -->
   
</suite> <!-- Suite -->
